@{
    ViewBag.Title = string.Format("{0} - {1}", @TranslationsSite.Resources.Shared.General.CompanyName, @TranslationsSite.Resources.WhoAreWe.Index.WhoAreWe_Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageMetaAttributes{
    @Html.Raw(@TranslationsSite.Resources.WhoAreWe.Index.Tag_Meta_Description)
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Html.Raw(@TranslationsSite.Resources.WhoAreWe.Index.WhoAreWe_Title)
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">@TranslationsSite.Resources.WhoAreWe.Index.WhoAreWe_Title</li>
        </ol>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive center-block" src="~/Images/motus-logo-transparent.png" alt="Motus Logo">
            </div>
            <div class="col-md-9">
                <h2><strong>@Html.Raw(@TranslationsSite.Resources.Shared.General.CompanyName)</strong></h2>
                <p>@Html.Raw(TranslationsSite.Resources.WhoAreWe.Index.WhoAreWe_Description)</p>
            </div>
        </div>
    </div>
</div>
<!-- Team Members -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@Html.Raw(@TranslationsSite.Resources.WhoAreWe.Index.OurTeam_Header)</h2>
    </div>
    <div class="col-md-12 thumbnail">
        <div class="col-md-3 ">
            <img class="img-responsive profile-picture" src="~/Images/profile-romina-castagno-black.jpg" alt="Profile picture Romina Castagno" />
        </div>
        <div class="col-md-9">
            <h3>@Html.Raw(@TranslationsSite.Resources.WhoAreWe.Index.RominaCastagno_Name)</h3>
            <h4>
                <span class="profile-title">@Html.Raw(@TranslationsSite.Resources.WhoAreWe.Index.RominaCastagno_Title)</span>
                <a href="@TranslationsSite.Resources.WhoAreWe.Index.RominaCastagno_LinkedinUri" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            </h4>
            <p class="profile-description">@Html.Raw(@TranslationsSite.Resources.WhoAreWe.Index.RominaCastagno_Description)</p>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Our Customers -->
@*<div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
    </div>*@
<!-- /.row -->