@{
    ViewBag.Title = string.Format("{0} - {1}", @TranslationsSite.Resources.Shared.General.CompanyName, @TranslationsSite.Resources.Home.Index.Home_Title);
}
@section PageMetaAttributes{
    @Html.Raw(@TranslationsSite.Resources.Home.Index.Tag_Meta_Description)
}
@section Header{
    <header>
        <div class="col-md-12">
            <img class="img-responsive center-block" src="~/Images/motus-logo-transparent.png" alt="Motus Logo">
        </div>
    </header>
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Html.Raw(@TranslationsSite.Resources.Shared.General.CompanyName)
        </h1>
    </div>
    <div class="col-md-12">
        <div class="lead">
            <p>@Html.Raw(TranslationsSite.Resources.WhoAreWe.Index.WhoAreWe_Description)</p>
            <a href="@Url.Action("Index", "WhoAreWe")" class="btn btn-default">@Html.Raw(@TranslationsSite.Resources.Shared.General.LearnMore_Button)</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class=""><i class="fa fa-fw fa-info"></i> How do we work?</h4>
            </div>
            <div class="panel-body">
                <p>@Html.Raw(@TranslationsSite.Resources.Home.Index.HowDoWeWork_Description)</p>
                <a href="@Url.Action("Index", "HowDoWeWork")" class="btn btn-default">@Html.Raw(@TranslationsSite.Resources.Shared.General.LearnMore_Button)</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-dollar"></i> @Html.Raw(@TranslationsSite.Resources.Home.Index.HowMuchDoesItCost_Header)</h4>
            </div>
            <div class="panel-body">
                <p>@Html.Raw(@TranslationsSite.Resources.Home.Index.HowMuchDoesItCost_Description)</p>
                <a href="@Url.Action("Index", "GetQuote")" class="btn btn-default">@Html.Raw(@TranslationsSite.Resources.Shared.General.GetAFreeQuote_Button)</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-question"></i> @Html.Raw(@TranslationsSite.Resources.Home.Index.Questions_Header)</h4>
            </div>
            <div class="panel-body">
                <p>@Html.Raw(@TranslationsSite.Resources.Home.Index.Questions_Description)</p>
                @*<p>

                    </p>*@
                <a href="@Url.Action("Index", "ContactUs")" class="btn btn-default">@Html.Raw(@TranslationsSite.Resources.Shared.General.ContactUs_Button)</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
@section PageScripts{
}
